@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body > div.biasshield {
  all: initial;
  font-family: 'Source Sans Pro', Verdana, sans-serif !important;
  font-size: 0.95rem !important;
  line-height: 1.35em !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 30px;
  border-top: 2px solid #209cee;
  background-color: #edf2f5;
  color: #000000 !important;
  /* box-shadow: -2px -2px 0px #dddddd, 2px -2px 0px #eeeeee; */
  box-shadow: 0px -10px 10px #ffffff;
  z-index: 10000000;
  box-sizing: border-box;
  text-shadow: 1px 1px 0px #dddddd;
  user-select: none;
}
body > div.biasshield :not(.fa) { /* DeepL override: */
  font-family: 'Source Sans Pro', Verdana, sans-serif !important;
}

body > div.biasshield.minimized {
  height: 0px;
  padding: 0px;
}
body > div.biasshield.minimized > div.tabs {
  display: none;
}
body > div.biasshield.minimized > div.tabBodies {
  display: none;
}
body > div.biasshield span.maximize {
  display: none;
}
body > div.biasshield.minimized span.maximize {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 23px;
  bottom: -15px;
  box-sizing: border-box; 
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/angle-up-solid.svg);
  background-position: top+3px center;
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-color: #209cee;
  border-radius: 30px;
  cursor: pointer;
}
body > div.biasshield.minimized span.maximize:hover {
  background-color: #50ace9;
}

body > div.biasshield > div.tabs {
  position: absolute;
  top: -50px;
  height: 60px;
  left: 0px;
  right: 0px;
  z-index: 10000001; 
}
body > div.biasshield > div.tabs > span.minimize {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 35px;
  box-sizing: border-box; 
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/angle-down-solid.svg);
  background-position: center;
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-color: #209cee;
  border-radius: 30px;
  cursor: pointer;
}
body > div.biasshield > div.tabs > span.minimize:hover {
  background-color: #50ace9;
}
body > div.biasshield > div.tabs > div.tab {
  width: 150px;
  height: 43px;
  float: left;
  margin: 5px 0px 0px 5px;
  padding: 10px 0px;
  border-radius: 2px 2px 0px 0px;
  text-align: center;
  background-color: #edf2f5;
  color: #ffffff;
  border: 1px solid #999999;
  border-bottom: 0px;
  /* box-shadow: -2px -2px 0px #dddddd, 2px -2px 0px #eeeeee; */
  box-shadow: 0px -10px 10px #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
body > div.biasshield > div.tabs > div.tab:first-child {
  margin-left: 10px;
}
body > div.biasshield > div.tabs > div.tab.current {
  margin-top: 0px;
  height: 50px;
  border-color: #209cee;
  border-width: 2px;
  background-color: #edf2f5;
}
body > div.biasshield > div.tabs > div.tab.debiasbyus {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/debiasbyus.png);
  background-position: center;
  background-size: auto 25px;
  background-repeat: no-repeat;
}
body > div.biasshield > div.tabs > div.tab.fairslator {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/fairslator.png);
  background-position: center;
  background-size: auto 25px;
  background-repeat: no-repeat;
}
body > div.biasshield > div.tabs > div.tab.debiasbyus.off {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/debiasbyus-off.png);
}
body > div.biasshield > div.tabs > div.tab.fairslator.off {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/fairslator-off.png);
}

body > div.biasshield div.identity {
  float: right;
  white-space: nowrap;
  line-height: 3em;
  position: relative;
  top: -2px;
}
body > div.biasshield div.identity > a.identity {
  display: block;
  color: #b50000;
  text-decoration: none;
  padding: 2px 0px 0px 25px;
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/shield.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 20px;
  box-sizing: border-box;
  min-height: 20px;
  cursor: pointer;
}
body > div.biasshield div.identity > a.identity:hover {
  text-decoration: underline;
}

body > div.biasshield div.status {
  color: inherit;
  line-height: 3em;
}
body > div.biasshield div.status > span.substatus {
  margin-left: 0.15em;
  color: #666666;
}
body > div.biasshield div.status a {
  color: #209cee;
  text-decoration: none;
}
body > div.biasshield div.status a:hover {
  text-decoration: underline;
}

body > div.biasshield .action {
  background-color: #ffffff;
  color: #336699 !important;
  border: 1px solid #336699;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none !important;
  white-space: nowrap;
}
body > div.biasshield .action:hover {
  background-color: #ffffef;
}
body > div.biasshield .action:active {
  position: relative;
  top: 1px;
  left: 1px;
}
body > div.biasshield span.unbiasedVersion {
  margin-left: -5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: -5px;
  color: #999999;
}

body > div.biasshield span.waiter {
  display: inline-block;
  height: 1em;
  width: 30px;
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/preloader.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

body > div.biasshield span.icon {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0.35em;
  margin-right: 0.5em;
}
/* colour-to-filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
body > div.biasshield span.icon.grey {
  color: #999999;
  filter: invert(71%) sepia(2%) saturate(2%) hue-rotate(242deg) brightness(86%) contrast(88%);
}
body > div.biasshield span.icon.red {
  color: #ff3535;
  filter: invert(28%) sepia(62%) saturate(2078%) hue-rotate(339deg) brightness(112%) contrast(99%);
}
body > div.biasshield span.icon.check {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/check-circle-solid.svg);
}
body > div.biasshield span.icon.warning {
  background-image: url(chrome-extension://__MSG_@@extension_id__/graphics/exclamation-triangle-solid.svg);
}

body > div.biasshield div.disambiguators {
  overflow-y: auto;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
  border: 1px solid #209cee;
  border-radius: 4px;
}
body > div.biasshield div.disambiguators span.waiter {
  float: right;
  visibility: hidden;
}
body > div.biasshield div.disambiguators div.disambiguator {
  margin: 0px 0px 10px 0px;
  line-height: 1.5em;
}
body > div.biasshield div.disambiguators div.disambiguator div.title {
  font-weight: bold;
  display: inline;
  margin-right: 0.5em;
}
body > div.biasshield div.disambiguators div.disambiguator div.option {
  display: inline;
  margin-right: 1em;
  white-space: nowrap;
}
body > div.biasshield div.disambiguators div.disambiguator div.option label {
  cursor: pointer;
}
body > div.biasshield div.disambiguators div.disambiguator div.option label:hover {
  color: #209cee;
}