<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!--metadata-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="/android-chrome-512x512.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <meta property="og:site_name" content="CAPE·MT" />
    <meta name="twitter:card" content="summary" />
    <meta name="keywords" content="" />
    <meta property="og:image" content="https://www.biasshield.org/sharingpreview.png" />
    <meta name="twitter:image" content="https://www.biasshield.org/sharingpreview.png" />
    <title>Bias Shield</title>
    <meta property="og:title" content="Bias Shield" />
    <meta name="twitter:title" content="Bias Shield" />
    <meta name="description" content="Push back against bias in machine translation" />
    <meta property="og:description" content="Push back against bias in machine translation" />
    <meta name="twitter:description" content="Push back against bias in machine translation" />
    <meta property="og:url" content="https://www.biasshield.org/" />
    <meta name="twitter:url" content="https://www.biasshield.org/" />

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--font awesome-->
    <script src="https://kit.fontawesome.com/4590cb1fa2.js" crossorigin="anonymous"></script>

    <!--my styles-->
    <link type="text/css" rel="stylesheet" href="/all.css" />

    <!--my scripts-->
    <script type="text/javascript" src="/all.js"></script>

    <%if(!isLocalhost){%>
    <%}%>
  </head>
  <body>
    <div class="column">

      <div class="masthead">
        <h1><span class="logo"></span>Bias Shield</h1>
        <div class="slogan">Push back against bias in machine translation</div>
      </div>

      <div class="screenshots">
        <img src="screenshot1.png" alt="Screenshot"/>
      </div>

    </div>



  </body>
</html>
